html, body {
  max-height: 100vh;
  height: 100%;
}

#vw-logo {
  width: 40%;
}

@media screen and (min-width: 768px) {
  #vw-logo {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  #vw-logo {
    width: 20%;
  }
}

#vw-logo img {
  width: 100%;
  margin-bottom: -8px;
  margin-left: -1px;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

html body {
  background: rgb(13, 34, 71);
  /* background:
    linear-gradient(
      rgba(13, 34, 71, 0.4), 
      rgba(13, 34, 71, 0.4)
    ), 
    url('../images/bg.jpg');
  background-size: cover; */
}

.bg_skewed {
  height: 100%;
  width: 120%;
  position: absolute;
  animation: 25s linear infinite slide;
}

.unskewed {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background: rgba(80, 80, 80, 0.2); */
  background: rgb(180, 180, 180);
  transform: skew(-20deg, 0deg) translate(40%, 0);
}

@keyframes slide {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(15%, 0);
    transform: translate(15%, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(-15%, 0);
    transform: translate(-15%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
